/*
常用得变量
*/

$background-color: #f40;

$font-color-shallow0: #000;
$font-color-shallow1: #111;
$font-color-shallow2: #222;
$font-color-shallow3: #333;
$font-color-shallow4: #444;
$font-color-shallow5: #555;
$font-color-shallow6: #666;
$font-color-shallow7: #777;
$font-color-shallow8: #888;
$font-color-shallow9: #999;
$font-color-shallowdb: #dbdbdb;
