/* 设置全局样式 */

/* 页面高度, 默认字体, 默认行高, 背景色 */
.page{
    height: 100%;
    font-size: 28px;
    line-height: 1.8;
    background-color: #ffffff;
}

/* 图片宽度 */
image{
    width: 100%;
}

/* 主色调 */
/* 主背景色 */
.main-bg-color{ background-color: #3A74FC; }
/* 主点击背景色 */
.main-bg-hover-color{ background-color: rgba(58,116,252,.85); }
/* 主字体颜色 */
.main-text-color{ color: #3A74FC; }
/* 主边框颜色 */
.main-border-color{ border-color: #3A74FC; }

/* 字体颜色 */
.next-text-color{ color: #8797A8; }

/* 一像素边框 */
.next-border-color{ border-color: rgba(135,151,168,.2); }
